<ion-header>
  <ion-grid no-padding>
      <ion-row class="title">
          <ion-col class="left">
            <ion-button fill="clear" color="white" block (click)="presentPopover($event)">
              <fa-icon [icon]="faInfoCircle" size="2x"></fa-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            IEC029 2019.1 RESTful API
          </ion-col>
          <ion-col class="right">
            <ion-button fill="clear" color="white" block (click)="goToList()">
                <fa-icon [icon]="faBars" size="2x"></fa-icon>
            </ion-button>
          </ion-col>
        </ion-row>  
  </ion-grid>
</ion-header>
  
<ion-content>
  <div id="map"></div>
</ion-content>
  